@media (prefers-color-scheme: light) {
    body{
        background-color: #ffffff;
    }

    a,p,h1,h2,h3,h4,h5,h6,label{
        color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #1b1b1b;
    }

    a,p,h1,h2,h3,h4,h5,h6,label{
        color: #ffffff;
    }
}

html{
    text-align: center;
}